@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Products Go Here....</h4>

@model IEnumerable<OtherWorldsGames.Models.Product>

@{ 
    string Image = "";
    @foreach(var product in Model)
    {
        @Html.DisplayFor(p => product.Name)
        if(product.Image != null)
        {
            var base64 = Convert.ToBase64String(product.Image);
            Image = String.Format("data:image/gif;base64,{0}", base64);
            <div>
                <img height="300" width="300" src="@Image" />
            </div>

        }
        @Html.ActionLink("Details", "Details", new { id = product.ProductId })

    }
}

@Html.ActionLink("Add Product", "Create")<br />
@Html.ActionLink("Add a Category", "Create", "Category")
